@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-background;
    padding-top: 4rem;
  }
}

.message {
  position: absolute;
  right: 100px;
  animation: fadeOut 2s forwards;
  color: #4b67fa;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    border-color: #10b981;
  }
}

.pulse-green {
  animation: pulse 0.5s ease-in-out;
}
